<template>
  <v-layout
    mt-3
    align-center
    justify-center
    row
    wrap
  >
    <v-flex md8>
      <v-alert
        v-model="success"
        dismissible
        type="success"
        class="mb-3"
      >
        Your Password has been Successfully updated!
      </v-alert>
    </v-flex>
    <v-flex md8>
      <v-card class="elevation-12">
        <v-toolbar>
          <v-toolbar-title>
            Change Password
          </v-toolbar-title>
          <v-spacer />
        </v-toolbar>
        <v-card-text>
          <v-form
            @submit.prevent="edit()"
            id="editprofile-form"
            ref="form"
          >
            <v-container grid-list-md>
              <v-layout row wrap>
                <v-flex md6>
                  <v-text-field
                    prepend-icon="lock"
                    label="Password"
                    type="password"
                    v-model.trim="password"
                    required
                    :loading="loading"
                    hint="required"
                    persistent-hint
                    :error-messages="passwordErrors()"
                    @input="$v.password.$touch()"
                    @blur="$v.password.$touch()"
                  />
                </v-flex>
                <v-flex md6>
                  <v-text-field
                    label="Confirm Password"
                    type="password"
                    v-model.trim="confirm"
                    required
                    :loading="loading"
                    hint="required"
                    persistent-hint
                    :error-messages="confirmErrors()"
                    @input="$v.confirm.$touch()"
                    @blur="$v.confirm.$touch()"
                  />
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            class="mb-1"
            color="accent"
            type="submit"
            form="editprofile-form"
            :disabled="loading"
          >
            Update
          </v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import { mapState } from 'vuex'
import { validationMixin } from 'vuelidate'
import { required, sameAs } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  data: () => ({
    password: '',
    confirm: '',
    success: false,
    updated: false
  }),
  validations: {
    password: {
      required
    },
    confirm: {
      required,
      sameAs: sameAs('password')
    }
  },
  computed: {
    ...mapState(['alerts', 'loading'])
  },
  methods: {
    edit () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.$store.dispatch('accounts/edit', {
          password: this.password,
          confirm: this.confirm
        })
          .then(() => {
            this.success = true
            this.updated = true
            this.password = null
            this.confirm = null
          })
      }
    },
    passwordErrors () {
      const errors = []

      if (!this.$v.password.$dirty || this.updated) return errors
      !this.$v.password.required && errors.push('Password is required.')

      return errors
    },
    confirmErrors () {
      const errors = []

      if (!this.$v.confirm.$dirty || this.updated) return errors
      !this.$v.confirm.required && errors.push('Confirm password is required')
      !this.$v.confirm.sameAs && errors.push('Password did not match')

      return errors
    }
  }
}
</script>
