<template>
  <v-layout wrap>
    <v-flex md6>
      <v-card
        min-height="200"
      >
        <v-card-title>Available</v-card-title>
        <v-card-text class="headline">
          {{ pesos(available.total) }}
          <h4 class="headline black--text mt-2">
            Encashments
          </h4>
          <span>{{ pesos(encashment) }}</span>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex md6>
      <v-card min-height="200">
        <v-card-title>Rewards</v-card-title>
        <v-card-text class="headline">
          {{ pesos(rewards.total) }}
          <h4 class="headline black--text mt-2">
            Flushout
          </h4>
          <span>{{ pesos(flushouts.total) }}</span>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12>
      <v-row>
        <v-flex md2>
          <v-card
            min-height="200"
          >
            <v-card-title>Sign Up</v-card-title>
            <v-card-text class="headline">
              <h4 class="subtitle-1 black--text mt-2">
                Available
              </h4>
              {{ pesos(available.signup) }}
              <h4 class="subtitle-1 black--text mt-2">
                Rewards
              </h4>
              {{ pesos(rewards.signup.total) }}
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex md2>
          <v-card
            min-height="200"
          >
            <v-card-title>Youtube</v-card-title>
            <v-card-text class="headline">
              <h4 class="subtitle-1 black--text mt-2">
                Available
              </h4>
              {{ pesos(available.youtube) }}
              <h4 class="subtitle-1 black--text mt-2">
                Rewards
              </h4>
              {{ pesos(rewards.youtube.total) }}
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex md3>
          <v-card
            min-height="200"
          >
            <v-card-title>Customer Referral</v-card-title>
            <v-card-text class="headline">
              <h4 class="subtitle-1 black--text mt-2">
                Available
              </h4>
              {{ pesos(available.customer_referral) }}
              <h4 class="subtitle-1 black--text mt-2">
                Rewards
              </h4>
              {{ pesos(rewards.customer_referral.total) }}
              <h4 class="subtitle-1 black--text mt-2">
                Flushout
              </h4>
              {{ pesos(flushouts.customer_referral.total) }}
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex md3>
          <v-card
            min-height="200"
          >
            <v-card-title>Leadership Matching</v-card-title>
            <v-card-text class="headline">
              <h4 class="subtitle-1 black--text mt-2">
                Available
              </h4>
              {{ pesos(available.leadership_matching) }}
              <h4 class="subtitle-1 black--text mt-2">
                Rewards
              </h4>
              {{ pesos(rewards.leadership_matching.total) }}
              <h4 class="subtitle-1 black--text mt-2">
                Flushout
              </h4>
              {{ pesos(flushouts.leadership_matching.total) }}
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex md2>
          <v-card
            min-height="200"
          >
            <v-card-title>TopMax</v-card-title>
            <v-card-text class="headline">
              <h4 class="subtitle-1 black--text mt-2">
                Available
              </h4>
              {{ pesos(available.topmax) }}
              <h4 class="subtitle-1 black--text mt-2">
                Rewards
              </h4>
              {{ pesos(rewards.topmax.total) }}
              <h4 class="subtitle-1 black--text mt-2">
                Flushout
              </h4>
              {{ pesos(flushouts.topmax.total) }}
            </v-card-text>
          </v-card>
        </v-flex>
      </v-row>
    </v-flex>
  </v-layout>
</template>
<script>
import pesos from '@/lib/helpers'

export default {
  data: () => ({

  }),
  computed: {
    rewards () {
      return this.$store.state.rewards.rewards
    },
    available () {
      return this.$store.state.rewards.available
    },
    flushouts () {
      return this.$store.state.rewards.flushouts
    },
    encashment () {
      return this.$store.state.rewards.encashment
    }
  },
  methods: {
    pesos (amount) {
      return pesos(amount)
    }
  },
  mounted () {
    this.$store.dispatch('rewards/getRewards')
    // this.$store.dispatch('rewards/getAvailableRewards')
  }
}
</script>
