<template>
  <v-layout wrap>
    <v-flex>
      <v-card min-height="300">
        <v-card-text>
          <h1>Your Video for Today</h1>
          <h4>Watched Rewards: {{ pesos(total) }}</h4>
          <v-layout
            row
            wrap
            align-center
            justify-center
            mt-3
          >
            <v-flex lg8>
              <v-card class="video-wrapper elivation-1">
                <youtube
                  :video-id="videoId"
                  @playing="playing"
                  @paused="paused"
                  @stop="stop"
                  @ended="ended"
                  @buffering="buffering"
                  :player-vars="{ start: 0 }"
                />
              </v-card>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import pesos from '@/lib/helpers'

export default {
  data: () => ({
    player: undefined,
    now: 0
  }),
  computed: {
    watched () {
      return this.$store.state.watch.watched
    },
    total () {
      return this.$store.state.watch.total
    },
    videoId () {
      return this.$store.state.watch.videoId
    }
  },
  methods: {
    pesos: (amount) => amount && pesos(amount),
    watching () {
      if (this.now) this.past = parseInt(this.now) || 0
      this.now = parseInt(this.player.getCurrentTime())
      this.timer = this.player.getCurrentTime() < 60 && setTimeout(this.watching, 1000)
    },
    playing (event) {
      this.player = event.target
      this.watching()
      if (this.now < 60 && (this.now - 1 > this.past)) {
        this.player.cueVideoById({ videoId: this.videoId, endSeconds: 0 })
        this.player.playVideo()
      }
    },
    paused (event) {
      clearTimeout(this.timer)
    },
    pause () {
      if (this.player) {
        this.player && this.player.pauseVideo()
        clearTimeout(this.timer)
      }
    },
    stop () {
      this.player.stopVideo()
      clearTimeout(this.timer)
    },
    buffering (event) {
      clearTimeout(this.timer)
    },
    ended (event) {
      if (this.timer) {
        this.$store.dispatch('watch/addWatch', this.player)
        clearTimeout(this.timer)
      }
    }
  },
  mounted () {
    if (!this.$store.state.watch.videoId) { this.$store.dispatch('watch/getWatch') }
  },
  watch: {
    now (ov, v) {
      if (this.player.getCurrentTime() >= 60) {
        this.$store.dispatch('watch/addWatch', this.player)
        clearTimeout(this.timer)
      }
    }
  }
}
</script>
<style lang="scss">
  .video-wrapper div:first-child {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
