<template>
  <v-layout wrap>
    <v-flex>
      <v-card flat>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="items"
          >
            <template v-slot:top>
              <v-toolbar flat color="white">
                <v-toolbar-title>Activation Codes</v-toolbar-title>
                <v-dialog
                  v-if="$store.state.auth.role > 1"
                  v-model="dialog"
                  max-width="500px"
                >
                  <template v-slot:activator="{ on }">
                    <v-btn
                      color="primary ml-2"
                      depressed
                      class="mb-2"
                      v-on="on"
                    >
                      <v-icon left>
                        add
                      </v-icon> Add New
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">Add new activation code</span>
                    </v-card-title>
                    <v-card-text>
                      <v-form
                        id="new-codes"
                        ref="form"
                        @submit.prevent="add()"
                      >
                        <v-container pb-0>
                          <v-row>
                            <v-text-field
                              v-model="username"
                              filled
                              flat
                              label="Username"
                              prepend-inner-icon="$vuetify.icons.values.accounts_search"
                              :error-messages="errors.username"
                              @blur="errors.username = []"
                            />
                          </v-row>
                          <v-row>
                            <v-col class="pl-0">
                              <v-text-field
                                v-model="quantity"
                                filled
                                v-mask="mask"
                                flat
                                label="Quantity"
                                prepend-inner-icon="#"
                                :error-messages="errors.quantity"
                                @blur="errors.quantity = []"
                              />
                            </v-col>
                            <v-col class="pr-0">
                              <v-select
                                v-model="prefix"
                                :items="prefixes"
                                filled
                                label="Prefix"
                              />
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-form>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer />
                      <v-btn color="grey" text @click="dialog = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        color="primary"
                        text
                        type="submit"
                        form="new-codes"
                      >
                        Add
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import { required, numeric } from 'vuelidate/lib/validators'

export default {
  data: () => ({
    dialog: false,
    mask: '###',
    username: '',
    quantity: '1',
    prefix: 'TVM',
    errors: {
      username: [],
      quantity: [],
      prefix: []
    },
    prefixes: ['TVM', 'TVA']
  }),
  validations () {
    return {
      quantity: {
        required,
        numeric
      }
    }
  },
  computed: {
    headers () {
      return [
        { text: 'Code', value: 'code' },
        { text: 'Source', value: 'source' },
        { text: 'Owner', value: 'owner' },
        { text: 'Used', value: 'used' },
        { text: 'Date Created', value: 'created_at' }
      ]
    },
    items () {
      return this.$store.state.admin.codes
    }
  },
  methods: {
    addErrors () {
      !this.$v.quantity.required && this.errors.quantity.push('Required')
      !this.$v.quantity.numeric && this.errors.quantity.push('Number only')
    },
    add () {
      this.$v.$touch()
      this.addErrors()

      if (!this.$v.$invalid) {
        this.$store.dispatch('admin/addCodes', { username: this.username, quantity: this.quantity, prefix: this.prefix })
          .then((error) => {
            if (error === 'Invalid username') {
              this.errors.username.push(error)
            } else {
              this.$store.dispatch('admin/codes')
              this.username = ''
              this.quantity = '1'
              this.prefix = 'TVM'
              this.dialog = false
            }
          })
      }
    }
  },
  mounted () {
    this.$store.dispatch('admin/codes')
  }
}
</script>
