<template>
  <v-card>
    <v-tabs
      vertical
      color="primary darken-1"
    >
      <v-tab>
        Administrators
      </v-tab>
      <v-tab>
        Activation Codes
      </v-tab>
      <v-tab v-if="role > 1">
        Encashments
      </v-tab>
      <v-tab-item>
        <administrators />
      </v-tab-item>
      <v-tab-item>
        <activation-codes />
      </v-tab-item>
      <v-tab-item v-if="role > 1">
        <encashments />
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>
<script>
import Administrators from './Administrators.vue'
import ActivationCodes from './ActivationCodes.vue'
import Encashments from './Encashments.vue'
export default {
  components: {
    Administrators,
    ActivationCodes,
    Encashments
  },
  computed: {
    role () {
      return this.$store.state.auth.role
    }
  },
  mounted () {
    this.$store.dispatch('admin/codes')
  }
}
</script>
