<template>
  <v-layout wrap>
    <v-flex>
      <v-card flat>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="items"
            hide-default-footer
          >
            <template v-slot:top>
              <v-toolbar flat color="white">
                <v-toolbar-title>Administrators</v-toolbar-title>
                <v-dialog
                  v-if="$store.state.auth.role > 1"
                  v-model="dialog"
                  max-width="500px"
                >
                  <template v-slot:activator="{ on }">
                    <v-btn
                      color="primary ml-2"
                      depressed
                      class="mb-2"
                      v-on="on"
                    >
                      <v-icon left>
                        add
                      </v-icon> Add New
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">Add new admin</span>
                    </v-card-title>
                    <v-card-text>
                      <v-form
                        id="new-admin"
                        ref="form"
                        @submit.prevent="add()"
                      >
                        <v-container pb-0>
                          <v-row>
                            <v-text-field
                              v-model="username"
                              filled
                              flat
                              label="Username"
                              prepend-inner-icon="$vuetify.icons.values.accounts_search"
                              :error-messages="errors.username"
                              @blur="errors.username = []"
                            />
                          </v-row>
                          <v-row>
                            <v-text-field
                              v-model="firstname"
                              filled
                              flat
                              label="First Name"
                              prepend-inner-icon="mdi-account-card-details-outline"
                              :error-messages="errors.firstname"
                              @blur="errors.firstname = []"
                            />
                          </v-row>
                          <v-row>
                            <v-text-field
                              v-model="lastname"
                              filled
                              flat
                              label="Last Name"
                              prepend-inner-icon="mdi-account-card-details"
                              :error-messages="errors.lastname"
                              @blur="errors.lastname = []"
                            />
                          </v-row>
                          <v-row>
                            <v-text-field
                              v-model="email"
                              filled
                              flat
                              label="Email"
                              prepend-inner-icon="mdi-email-outline"
                              :error-messages="errors.email"
                              @blur="errors.email = []"
                            />
                          </v-row>
                        </v-container>
                      </v-form>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer />
                      <v-btn color="grey" text @click="dialog = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        color="primary"
                        text
                        type="submit"
                        form="new-admin"
                      >
                        Add
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import { required, minLength, email } from 'vuelidate/lib/validators'

export default {
  data: () => ({
    dialog: false,
    username: '',
    firstname: '',
    lastname: '',
    email: '',
    errors: {
      username: [],
      firstname: [],
      lastname: [],
      email: []
    }
  }),
  validations () {
    return {
      username: {
        required,
        minLength: minLength(3)
      },
      firstname: {
        required
      },
      lastname: {
        required
      },
      email: {
        required,
        email
      }
    }
  },
  computed: {
    headers () {
      return [
        { text: 'Login', value: 'login' },
        { text: 'Name', value: 'name' },
        { text: 'Code', value: 'code' },
        { text: 'Status', value: 'status' }
      ]
    },
    items () {
      return this.$store.state.admin.users
    }
  },
  methods: {
    addErrors () {
      !this.$v.username.required && this.errors.username.push('Required')
      !this.$v.username.minLength && this.errors.username.push('Min three (3) characters')
      !this.$v.firstname.required && this.errors.firstname.push('Required')
      !this.$v.lastname.required && this.errors.lastname.push('Required')
      !this.$v.email.required && this.errors.email.push('Required')
      !this.$v.email.email && this.errors.email.push('Invalid email')
    },
    add () {
      this.$v.$touch()
      this.addErrors()

      if (!this.$v.$invalid) {
        this.$store.dispatch('admin/add', { username: this.username, email: this.email, firstname: this.firstname, lastname: this.lastname })
          .then(error => {
            if (error === 'Username already taken.') {
              this.errors.username.push(error)
            } else {
              this.username = ''
              this.firstname = ''
              this.lastname = ''
              this.email = ''
              this.dialog = false
              this.$store.dispatch('admin/users')
            }
          })
      }
    }
  },
  mounted () {
    this.$store.dispatch('admin/users')
  }
}
</script>
