<template>
  <v-layout wrap>
    <template>
      <v-dialog
        v-model="dialog"
        max-width="500px"
      >
        <v-card>
          <v-card-title>
            <span class="headline">{{ dialogTitle }} Encashment ID: {{ selected.encashment_id }}</span>
          </v-card-title>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr>
                    <td>Amount</td>
                    <td>{{ pesos(selected.amount) }}</td>
                  </tr>
                  <tr>
                    <td>Available Amount</td>
                    <td>{{ pesos(selected.available) }}</td>
                  </tr>
                  <tr>
                    <td>User</td>
                    <td>{{ selected.user_login }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="grey" text @click="dialog = false">
              Cancel
            </v-btn>
            <v-btn
              color="primary"
              text
              @click="dialogTitle === 'Reject' ? reject(selected) : paid(selected)"
            >
              {{ dialogTitle }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
    <v-flex>
      <v-card flat>
        <v-card-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search ID"
            single-line
            hide-details
          />
        </v-card-title>
        <v-card-text class="mt-4">
          <v-data-table
            :headers="headers"
            :items="items"
            :search="search"
            :custom-filter="customSearch"
          >
            <template v-slot:top>
              <v-toolbar flat color="white">
                <v-select
                  v-model="startdate"
                  :items="dates"
                  label="Start date"
                  class="mr-4"
                  disabled
                />
                <v-select
                  v-model="enddate"
                  :items="dates"
                  label="End date"
                  disabled
                />
                <v-btn
                  tile
                  outlined
                  class="ml-4"
                  disabled
                  color="primary"
                >
                  <v-icon left>
                    mdi-file-export
                  </v-icon> Export
                </v-btn>
                <v-spacer />
                <v-spacer />
              </v-toolbar>
            </template>
            <template v-slot:item.amount="{ item }">
              <template v-if="item.amount > item.available">
                {{ pesos(item.amount) }} <span class="error--text caption">({{ pesos(item.available) }})</span>
              </template>
              <template v-else>
                {{ pesos(item.amount) }} <span class="success--text caption">({{ pesos(item.available) }})</span>
              </template>
            </template>
            <template v-slot:item.status="{ item }">
              <v-chip
                v-if="item.status > 2 || item.deleted_at != '0000-00-00 00:00:00'"
                color="red"
                dark
              >
                Rejected
              </v-chip>
              <v-chip
                v-else-if="item.status > 1 && item.status < 3"
                color="blue"
                dark
              >
                Paid
              </v-chip>
              <v-chip
                v-else-if="item.status > 0"
                color="success"
                dark
              >
                Approved
              </v-chip>
              <v-chip
                v-else
                color="warning"
                dark
              >
                Pending
              </v-chip>
            </template>
            <template v-slot:item.action="{ item }">
              <v-menu bottom left>
                <template v-slot:activator="{ on }">
                  <v-btn
                    light
                    icon
                    v-on="on"
                  >
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>

                <v-list>
                  <v-list-item
                    @click="pending(item)"
                    :disabled="item.status < 1 || item.status > 1"
                  >
                    <v-list-item-title>Pending</v-list-item-title>
                  </v-list-item>
                  <v-list-item
                    @click="approve(item)"
                    :disabled="item.status >= 1"
                  >
                    <v-list-item-title>Approve</v-list-item-title>
                  </v-list-item>
                  <v-list-item
                    @click="openPaid(item)"
                    :disabled="item.status >= 2"
                  >
                    <v-list-item-title>Paid</v-list-item-title>
                  </v-list-item>
                  <v-divider />
                  <v-list-item
                    @click="openReject(item)"
                    :disabled="item.status > 2"
                  >
                    <v-list-item-title>Reject</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import pesos from '@/lib/helpers'

export default {
  data: () => ({
    dialog: false,
    dialogTitle: '',
    selected: '',
    search: '',
    startdate: '',
    enddate: ''
  }),
  computed: {
    headers () {
      return [
        { text: 'ID', value: 'encashment_id' },
        { text: 'Date', value: 'created_at' },
        { text: 'Username', value: 'user_login' },
        { text: 'Type', value: 'type' },
        { text: 'Status', value: 'status', align: 'center' },
        { text: 'Amount', value: 'amount', align: 'right' },
        { text: '', value: 'action', sortable: false }
      ]
    },
    items () {
      return this.$store.state.admin.encashments
    },
    dates () {
      return this.$store.state.admin.encashmentDates
    }
  },
  methods: {
    pesos (amount) {
      return pesos(amount)
    },
    customSearch (value, search, item) {
      return value != null && search != null && typeof value === 'string' && item.encashment_id === search
    },
    pending (item) {
      item.status = 0
      this.$store.dispatch('admin/editEncashments', item)
    },
    approve (item) {
      item.status = 1
      this.$store.dispatch('admin/editEncashments', item)
    },
    paid (item) {
      item.status = 2
      this.$store.dispatch('admin/editEncashments', item)
      this.dialog = false
    },
    reject (item) {
      item.status = 3
      this.$store.dispatch('admin/rejectEncashments', item)
      this.dialog = false
    },
    openPaid (item) {
      this.dialog = true
      this.dialogTitle = 'Paid'
      this.selected = item
    },
    openReject (item) {
      this.dialog = true
      this.dialogTitle = 'Reject'
      this.selected = item
    }
  },
  mounted () {
    this.$store.dispatch('admin/getEncashments')
    this.$store.dispatch('admin/getEncashmentDates')
  }
}
</script>
