<template>
  <v-layout row wrap>
    <v-flex xs6>
      <v-chip>
        <v-avatar left class="secondary white--text">
          <b>{{ legs.left }}</b>
        </v-avatar>
        <b>Total Left</b>
      </v-chip>
    </v-flex>
    <v-flex xs6 text-xs-right>
      <v-chip>
        <b>Total Right</b>
        <v-avatar right class="primary white--text">
          <b>{{ legs.right }}</b>
        </v-avatar>
      </v-chip>
    </v-flex>

    <v-layout wrap>
      <v-flex>
        <v-card id="emelem-tree-card">
          <v-card-text>
            <table
              id="emelem-binary-tree"
              class="emelem-binary-tree"
              align="center"
              style="margin-left: auto; margin-right: auto;"
            >
              <template v-for="(rows, r) in items">
                <tr :key="r">
                  <template v-for="(item) in rows">
                    <td
                      :colspan="(32 / Object.keys(rows).length)"
                      align="center"
                      :key="item.position"
                    >
                      <div id="emelem-parent-node" :class="item.activated_at ? 'emelem-nodes active' : 'emelem-nodes inactive'">
                        <v-dialog v-model="item.info" max-width="290">
                          <template v-slot:activator="{ on }">
                            <v-btn
                              icon
                              x-large
                              color="primary"
                              v-on="on"
                              :disabled="!item.user_id && !item.available"
                            >
                              <v-avatar
                                :color="color(item)"
                                :size="size(r)"
                              >
                                <span v-if="!item.user_id && !item.available">X</span>
                                <img
                                  v-else
                                  :src="require('./../assets/logo.svg')"
                                  alt="avatar"
                                >
                              </v-avatar>
                            </v-btn>
                          </template>
                          <v-card v-if="item.activated_at">
                            <v-list dense>
                              <v-list-item v-if="item.user_id !== user.id && r == 0">
                                <v-list-item-content>
                                  <div style="text-align: center;">
                                    <v-btn
                                      icon
                                      @click.stop="$router.go(-1)"
                                      color="primary darken-2"
                                    >
                                      <v-icon large>
                                        mdi-arrow-up-drop-circle
                                      </v-icon>
                                    </v-btn>
                                  </div>
                                </v-list-item-content>
                              </v-list-item>
                              <v-list-item>
                                <v-list-item-icon>
                                  <v-icon color="primary">
                                    mdi-account-outline
                                  </v-icon>
                                </v-list-item-icon>
                                <v-list-item-content>
                                  <v-list-item-title>{{ item.username }}</v-list-item-title>
                                  <v-list-item-subtitle>Username</v-list-item-subtitle>
                                </v-list-item-content>
                              </v-list-item>
                              <v-list-item>
                                <v-list-item-icon>
                                  <v-icon color="primary">
                                    mdi-barcode
                                  </v-icon>
                                </v-list-item-icon>
                                <v-list-item-content>
                                  <v-list-item-title>{{ item.code }}</v-list-item-title>
                                  <v-list-item-subtitle>Activation Code</v-list-item-subtitle>
                                </v-list-item-content>
                              </v-list-item>
                              <v-list-item>
                                <v-list-item-icon>
                                  <v-icon color="primary">
                                    mdi-account-card-details-outline
                                  </v-icon>
                                </v-list-item-icon>
                                <v-list-item-content>
                                  <v-list-item-title>{{ item.name }}</v-list-item-title>
                                  <v-list-item-subtitle>Name</v-list-item-subtitle>
                                </v-list-item-content>
                              </v-list-item>
                              <v-list-item>
                                <v-list-item-icon>
                                  <v-icon color="primary">
                                    mdi-email-outline
                                  </v-icon>
                                </v-list-item-icon>
                                <v-list-item-content>
                                  <v-list-item-title>{{ item.email }}</v-list-item-title>
                                  <v-list-item-subtitle>Email</v-list-item-subtitle>
                                </v-list-item-content>
                              </v-list-item>
                              <v-list-item v-if="r == 5">
                                <v-list-item-content>
                                  <div style="text-align: center;">
                                    <v-btn
                                      icon
                                      @click.stop="select(item.user_id)"
                                      color="primary darken-2"
                                    >
                                      <v-icon large>
                                        mdi-arrow-down-drop-circle
                                      </v-icon>
                                    </v-btn>
                                  </div>
                                </v-list-item-content>
                              </v-list-item>
                            </v-list>
                          </v-card>
                          <v-card v-else>
                            <v-card-title>
                              <span class="headline">Activate User</span>
                            </v-card-title>
                            <v-card-text>
                              <v-form
                                id="activate-user"
                                ref="form"
                                @submit.prevent="activate(item)"
                              >
                                <v-container pb-0>
                                  <v-row>
                                    <v-autocomplete
                                      v-model="item.user_id"
                                      autocomplete="off"
                                      label="Search User"
                                      :items="inactiveUsers"
                                      filled
                                      item-text="user_login"
                                      item-value="ID"
                                      prepend-inner-icon="$vuetify.icons.values.accounts_search"
                                      :error-messages="errors.user_id"
                                      @input="errors.user_id = []"
                                    />
                                  </v-row>
                                  <v-row>
                                    <v-autocomplete
                                      v-model="item.code"
                                      autocomplete="off"
                                      label="Search Code"
                                      :items="availableCodes"
                                      filled
                                      item-text="code"
                                      item-value="code"
                                      prepend-inner-icon="mdi-barcode"
                                      :error-messages="errors.code"
                                      @input="errors.code = []"
                                    />
                                  </v-row>
                                </v-container>
                              </v-form>
                            </v-card-text>
                            <v-card-actions>
                              <v-spacer />
                              <v-btn color="grey" text @click="cancel(item)">
                                Cancel
                              </v-btn>
                              <v-btn
                                color="primary"
                                text
                                type="submit"
                                form="activate-user"
                                :disabled="!item.user_id || !item.code"
                              >
                                Activate
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                        <div class="node-label font-weight-bold">
                          {{ item.username || '&nbsp;' }}
                        </div>
                      </div>
                    </td>
                  </template>
                </tr>
              </template>
            </table>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-layout>
</template>
<script>
export default {
  name: 'BinaryTree',
  data () {
    return {
      errors: {
        user_id: [],
        code: []
      }
    }
  },
  computed: {
    user () {
      return this.$store.state.auth.user
    },
    legs () {
      return this.$store.state.trees.legs
    },
    items () {
      return this.$store.state.trees.downlines
    },
    inactiveUsers () {
      return this.$store.state.accounts.inactiveUsers
    },
    availableCodes () {
      return this.$store.state.activationcodes.availableCodes
    },
    left () {
      return this.$store.state.trees.pairing.left
    },
    right () {
      return this.$store.state.trees.pairing.right
    }
  },
  mounted () {
    this.$store.dispatch('accounts/getInactiveUsers')
    this.$store.dispatch('activationcodes/getAvailableCodes')

    if (this.$route.params.userid) {
      return this.$store.dispatch('trees/getDownlines', this.$route.params.userid)
        .then(() => {
          this.centerTree()
        })
    } else {
      this.$store.dispatch('trees/getLegs')
      return this.$store.dispatch('trees/downlines')
        .then(() => {
          const tree = document.getElementById('emelem-tree-card')
          const table = document.getElementById('emelem-binary-tree')
          if (tree) {
            tree.scrollTop = 0
            tree.scrollLeft = ((table.offsetWidth - tree.offsetWidth + 35) / 2)
          }
        })
    }
  },
  methods: {
    cancel (item) {
      item.info = false
      this.errors.user_id = []
      this.errors.code = []
      item.user_id = ''
      item.code = ''
    },
    activate (user) {
      this.$store.dispatch('activationcodes/activateUser', user)
        .then(activated => {
          if (activated === 'Username already active') {
            this.errors.user_id = []
            this.errors.user_id.push(activated)
          } else if (activated === 'Code already used' || activated === 'Code does not exist') {
            this.errors.code = []
            this.errors.code.push(activated)
          } else {
            user.info = false
            this.errors.user_id = []
            this.errors.code = []
          }
        })
    },
    size (level) {
      switch (level) {
        case 0:
          return 60
        case 1:
          return 55
        case 2:
          return 50
        case 3:
          return 45
        case 4:
          return 40
        default:
          return 35
      }
    },
    color (item) {
      if (!item.user_id && !item.available) return 'grey lighten-2'
      if (item.username) {
        return 'primary darken-2'
      } else {
        return 'grey'
      }
    },
    select (userid) {
      if (this.$store.state.auth.user.id === userid) {
        this.$router.push({ name: 'trees' })
      } else {
        this.$router.push({ name: 'trees.placement', params: { userid: userid } })
      }
      this.centerTree()

      return false
    },
    centerTree () {
      const tree = document.getElementById('emelem-tree-card')
      const table = document.getElementById('emelem-binary-tree')
      if (tree) {
        tree.scrollTop = 0
        tree.scrollLeft = ((table.offsetWidth - tree.offsetWidth + 35) / 2)
      }
    }
  },
  watch: {
    $route (to, from) {
      if (to.params.userid) {
        this.$store.dispatch('trees/getDownlines', to.params.userid)
      } else {
        this.$store.dispatch('trees/downlines')
          .then(() => this.$store.dispatch('accounts/getInactiveUsers'))
          .then(() => this.$store.dispatch('activationcodes/getAvailableCodes'))
      }
    }
  }
}
</script>
<style lang="scss">
  .text-xs-right {
    text-align: right;
  }
.emelem-binary-tree {
  border-collapse: separate;
  border-spacing: 0;
  .emelem-nodes {
    padding: 12px 24px;
    .v-btn--icon {
      .v-size--x-large {
        width: auto;
        height: auto;
      }
    }
    .node-label {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 10px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        height: 15px;
        width: 1px;
        background-color: #ccc;
        left: 50%;
        bottom: -13px;
        transform: translate3d(1px, 0, 0);
      }

      .v-avatar {
        border: 2px solid #ccc !important;
      }
    }

    &.inactive {
      .node-label {
        &::before {
          height: 45px;
        }
      }
    }
  }

  tr:not(:first-child) {
    td:nth-child(odd) {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        left: 50%;
        border: 1px solid;
        border-color: #ccc transparent transparent #ccc;
        border-radius: 6px 0 0 0;
        height: 15px;
        width: 50%;
      }
    }

    td:nth-child(even) {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        right: 50%;
        border: 1px solid;
        border-color: #ccc #ccc transparent transparent;
        border-radius: 0 6px 0 0;
        height: 15px;
        width: 50%;
      }
    }
  }

  tr:last-child {
    .node-label {
      &::before {
        display: none;
      }
    }
  }
}
</style>
