<template>
  <div class="drawer-toolbar">
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant.sync="mini"
      :permanent="$vuetify.breakpoint.mdOnly"
      :temporary="$vuetify.breakpoint.smAndDown"
      app
      dark
      full-height
      color="primary darken-2"
      class="py-4"
    >
      <v-list dense class="py-0 mb-4">
        <v-list-item>
          <div class="app-logo mb-4">
            <v-img
              :src="require('../assets/logo.png')"
              contain
            />
          </div>
        </v-list-item>
        <v-list-item link>
          <v-list-item-avatar>
            <v-icon large>
              account_circle
            </v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ user.firstname }} {{ user.lastname }}</v-list-item-title>
            <v-list-item-subtitle>{{ user.login }}</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-action>
            <v-icon>mdi-menu-down</v-icon>
          </v-list-item-action>
        </v-list-item>
        <v-divider />
      </v-list>
      <v-list
        dense
        nav
        class="py-0"
      >
        <template
          v-for="route in $router.options.routes"
        >
          <v-list-item
            v-if="route.meta.menu !== false && !route.children"
            :key="route.name"
            :to="{ name: route.name }"
            :disabled="inactive(route)"
            exact
          >
            <v-list-item-action>
              <v-icon>{{ route.meta.menu.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ route.meta.menu.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <template v-else-if="route.children">
            <v-list-item
              v-if="route.meta.menu"
              :to="route.name ? { name: route.name } : { path: route.path }"
              exact
              :class="$route.name && $route.name.includes(route.name) && $route.params.uuid && 'primary--text v-list__tile--active'"
            >
              <v-list-item-action>
                <v-icon v-if="route.meta.menu">
                  {{ route.meta.menu.icon }}
                </v-icon>
              </v-list-item-action>
              <v-list-item-title>{{ route.meta.menu.text }}</v-list-item-title>
            </v-list-item>
            <template v-for="child in route.children">
              <v-list-item
                v-if="child.meta.menu"
                :to="{ name: child.name }"
                exact
                :class="$route.name && $route.name.includes(child.name) && $route.params.uuid && 'primary--text v-list__tile--active'"
              >
                <v-list-item-action v-if="child.meta.menu.icon">
                  <v-icon v-if="child.meta.menu && child.meta.menu.icon">
                    {{ child.meta.menu.icon }}
                  </v-icon>
                </v-list-item-action>
                <v-list-item-action v-else>
                  &nbsp;
                </v-list-item-action>
                <v-list-item-title>{{ child.meta.menu && child.meta.menu.text || ucwords(child.name) }}</v-list-item-title>
              </v-list-item>
            </template>
          </template>
        </template>
      </v-list>
      <template v-slot:prepend>
        <v-list>
          <v-list-item>
            <v-app-bar-nav-icon
              class="hidden-sm-and-down"
              @click.stop="mini = !mini"
              tile
            />
          </v-list-item>
        </v-list>
      </template>
      <template v-slot:append>
        <v-list dense>
          <v-list-item
            v-if="role > 0"
            :to="{ name: 'admin' }"
          >
            <v-list-item-content>
              <v-list-item-title>Admin</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click.stop="logout()">
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </template>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-right
      dark
      color="primary"
      prominent
      flat
      tile
      class="app-header"
      style="position: absolute;"
    >
      <v-app-bar-nav-icon
        class="hidden-md-and-up"
        @click.stop="drawer = !drawer"
      />
      <div class="membership-status text-right">
        <v-chip
          v-if="user.status < 1"
          class="mt-5"
          color=""
          text-color="white"
          small
        >
          Unverified
          <v-icon right>
            check
          </v-icon>
        </v-chip>
        <v-chip
          v-else
          class="mt-5"
          color="blue darken-3"
          text-color="white"
          small
        >
          Verified
          <v-icon right>
            check
          </v-icon>
        </v-chip>
        <v-chip
          v-if="!user.code"
          class="mt-5 ml-2"
          color=""
          text-color="white"
          small
        >
          Inactive
          <v-icon right>
            close
          </v-icon>
        </v-chip>
        <v-chip
          v-else
          class="mt-5 ml-2"
          color="success"
          text-color="white"
          small
        >
          Active
          <v-icon right>
            check
          </v-icon>
        </v-chip>
      </div>
      <v-toolbar-title class="pa-0">
        <h1 v-if="$route.path === '/'">
          Welcome {{ user.firstname }}
        </h1>
        <h1 v-else>
          {{ $route.meta.title }}
        </h1>
      </v-toolbar-title>
    </v-app-bar>
  </div>
</template>
<script>
export default {
  name: 'DrawerToolbar',
  data: () => ({
    publicPath: process.env.BASE_URL,
    drawer: null,
    mini: false
  }),
  computed: {
    user () {
      return this.$store.state.auth.user
    },
    role () {
      return this.$store.state.auth.role
    }
  },
  methods: {
    inactive (route) {
      return route.name === 'activationcodes' && this.user.activated_at === '0000-00-00 00:00:00'
    },
    logout () {
      this.$store.dispatch('auth/logout')
      if (this.$route.path !== '/') this.$router.push({ name: 'dashboard' })
    }
  },
  mounted () {
    //
  }
}
</script>
