<template>
  <v-layout
    wrap
    my-0
  >
    <v-flex
      md5
      lg4
      sm12
      pa-0
      class="login-form"
      align
    >
      <v-card flat color="white" class="px-4 py-12">
        <div class="app-logo">
          <v-img
            :src="require('@/assets/logo.png')"
            contain
          />
        </div>
        <v-card-text class="px-2 py-12">
          <login-form />
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex
      md7
      lg8
      grow
      class="reg-form px-0"
    >
      <v-card flat class="ma-4" v-show="registered">
        <v-toolbar flat>
          <v-toolbar-title
            class="text-center mt-12 display-1 font-weight-bold"
          >
            <span class="display-3 primary--text">Thank You!</span>
          </v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <div
            class="text-center"
            style="max-width: 700px; margin: 80px auto 0;"
          >
            <p class="headline text-center">
              Please check your email <span class="primary--text">{{ user.email }}</span> for your password to login and start earning rewards!
            </p>
            <v-icon size="200" color="warning">
              {{ this.$vuetify.icons.values.seal }}
            </v-icon>
            <p class="display-2 my-12">
              Registration successful!
            </p>
          </div>
        </v-card-text>
      </v-card>
      <v-card flat class="ma-4" v-show="!registered">
        <v-toolbar flat>
          <v-toolbar-title
            class="text-center display-1 font-weight-bold"
          >
            <span>Register</span>
          </v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <form
            @submit.prevent="register()"
            id="registration-form"
            ref="form"
          >
            <v-layout row>
              <v-flex md6 pt-0>
                <v-switch
                  v-model="existing"
                  color="primary"
                  inset
                  label="Do you have a main account?"
                />
              </v-flex>
              <v-flex md6 pt-0>
                <v-text-field
                  v-model="user.parent"
                  label="Username"
                  filled
                  :disabled="!existing"
                  prepend-inner-icon="mdi-account-outline"
                  :error-messages="errors.parent"
                  @input="errors.parent = []"
                />
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex md6 pt-0>
                <v-text-field
                  v-model="user.login"
                  label="Username"
                  filled
                  prepend-inner-icon="$vuetify.icons.values.accounts_search"
                  :error-messages="errors.login"
                  @blur="errors.login = []"
                />
              </v-flex>
              <v-flex md6 pt-0>
                <v-text-field
                  v-model="user.sponsor"
                  label="Sponsor Username"
                  :readonly="sponsorId > 0"
                  filled
                  prepend-inner-icon="mdi-account-outline"
                  :error-messages="errors.sponsor"
                  @blur="errors.sponsor = []"
                />
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex md6 pt-0>
                <v-text-field
                  v-model="user.firstname"
                  name="fname"
                  label="First Name"
                  filled
                  :error-messages="errors.firstname"
                  @blur="errors.firstname = []"
                />
              </v-flex>
              <v-flex md6 pt-0>
                <v-text-field
                  v-model="user.lastname"
                  label="Last Name"
                  name="lname"
                  filled
                  :error-messages="errors.lastname"
                  @blur="errors.lastname = []"
                />
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex md6 pt-0>
                <v-text-field
                  v-model="user.phone"
                  label="Contact Number"
                  v-mask="mask"
                  name="phone"
                  filled
                  prepend-inner-icon="mdi-phone-outline"
                  :error-messages="errors.phone"
                  @blur="errors.phone = []"
                />
              </v-flex>
              <v-flex md6 pt-0>
                <v-text-field
                  v-model="user.email"
                  label="Email"
                  filled
                  prepend-inner-icon="mdi-email-outline"
                  :error-messages="errors.email"
                  @blur="errors.email = []"
                />
              </v-flex>
              <v-flex md6 pt-0>
                <v-checkbox v-model="agree" color="primary">
                  <template v-slot:label>
                    <div>
                      I agree to the <a target="_blank" href="#" @click.stop>Privacy Policy</a> and <a target="_blank" href="#" @click.stop>Terms and Condition</a>.
                    </div>
                  </template>
                </v-checkbox>
              </v-flex>
            </v-layout>
          </form>
        </v-card-text>
        <v-card-actions class="pb-12">
          <v-spacer />
          <v-btn
            color="primary"
            rounded
            depressed
            width="300"
            x-large
            :disabled="!agree"
            :loading="loading"
            type="submit"
            form="registration-form"
          >
            Register
          </v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import { required, requiredIf, email, numeric, minLength } from 'vuelidate/lib/validators'
import LoginForm from './LoginForm.vue'

export default {
  components: { LoginForm },
  data: () => ({
    registered: false,
    mask: '############',
    errors: {
      parent: [],
      sponsor: [],
      login: [],
      email: [],
      firstname: [],
      lastname: [],
      phone: []
    },
    existing: false,
    agree: false,
    user: {
      parent: '',
      sponsor: '',
      login: '',
      email: '',
      firstname: '',
      lastname: '',
      phone: ''
    }
  }),
  validations () {
    return {
      user: {
        parent: {
          required: requiredIf(() => this.existing)
        },
        sponsor: {
          required,
          minLength: minLength(3)
        },
        login: {
          required,
          minLength: minLength(3)
        },
        firstname: {
          required,
          minLength: minLength(3)
        },
        lastname: {
          required,
          minLength: minLength(3)
        },
        phone: {
          required,
          numeric,
          minLength: minLength(7)
        },
        email: {
          required,
          email
        }
      }
    }
  },
  computed: {
    loading () {
      return this.$store.state.loading
    },
    sponsorId () {
      return this.$store.state.dashboard.sponsorId
    }
  },
  methods: {
    register () {
      this.$v.user.parent.$touch()
      this.registrationErrors()

      if (!this.$v.user.$invalid) {
        this.$store.dispatch('accounts/addUser', {
          user_parent: this.existing && this.user.parent,
          user_referrer: this.user.sponsor,
          user_login: this.user.login,
          user_email: this.user.email,
          user_firstname: this.user.firstname,
          user_lastname: this.user.lastname,
          user_phone: this.user.phone,
          user_referrer_id: this.user.sponsor
        })
          .then((data) => {
            if (data.errors) {
              this.errors = data.errors
            }

            if (data.success) {
              this.registered = true
            }
          })
      }
    },
    registrationErrors () {
      !this.$v.user.parent.required && this.errors.parent.push('Required')
      !this.$v.user.sponsor.required && this.errors.sponsor.push('Required')
      !this.$v.user.sponsor.minLength && this.errors.sponsor.push('Minimum of three (3) characters')
      !this.$v.user.login.required && this.errors.login.push('Required')
      !this.$v.user.login.minLength && this.errors.login.push('Minimum of three (3) characters')
      !this.$v.user.email.required && this.errors.email.push('Required')
      !this.$v.user.email.email && this.errors.email.push('Invalid email')
      !this.$v.user.firstname.required && this.errors.firstname.push('Required')
      !this.$v.user.firstname.minLength && this.errors.firstname.push('Minimum of three (3) characters')
      !this.$v.user.lastname.required && this.errors.lastname.push('Required')
      !this.$v.user.lastname.minLength && this.errors.lastname.push('Minimum of three (3) characters')
      !this.$v.user.phone.required && this.errors.phone.push('Required')
      !this.$v.user.phone.minLength && this.errors.phone.push('Minimum of nine (7) digits')
      !this.$v.user.phone.numeric && this.errors.phone.push('Numbers only')
    }
  },
  mounted () {
    this.$store.dispatch('dashboard/getSponsorId')
      .then(sponsor => (this.user.sponsor = sponsor.user_login))
  }
}
</script>
<style lang="scss">
.reg-form {
  position: relative;
  background-image: url('./../assets/bg.jpg');
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./../assets/pattern.png');
    background-color: rgba(0, 0, 0, 0.25);
    background-size: 52px auto;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .v-card {
    background-color: rgba(255,255,255,0.95);
    .v-toolbar {
      background-color: transparent;
    }
  }
}
@include breakpoint('md-and-up') {
  .login-form {
      min-height: 100vh;
      background-color: #fff;
      .v-card {
        margin-top: 120px;
      }
  }
  .reg-form {
    .v-card {
      margin: 48px !important;
    }
  }
}
</style>
