<template>
  <form
    @submit.prevent="login()"
    id="login-form"
    ref="form"
  >
    <v-layout row>
      <v-flex xs12>
        <v-text-field
          v-model="username"
          label="Username"
          filled
          :error-messages="errors.username"
          @blur="errors.username = []"
          prepend-inner-icon="mdi-account-outline"
        />
      </v-flex>
      <v-flex xs12 pt-0>
        <v-text-field
          v-model="password"
          type="password"
          label="Password"
          filled
          :error-messages="errors.password"
          @blur="errors.password = []"
          prepend-inner-icon="mdi-key-outline"
        />
      </v-flex>
      <v-flex xs12 pt-0>
        <v-btn
          rounded
          block
          depressed
          x-large
          color="primary"
          type="submit"
          form="login-form"
          :loading="loading"
        >
          Login
        </v-btn>
      </v-flex>
    </v-layout>
  </form>
</template>
<script>
import { required, minLength } from 'vuelidate/lib/validators'

export default {
  data: () => ({
    username: '',
    password: '',
    errors: {
      username: [],
      password: []
    }
  }),
  validations () {
    return {
      username: {
        required,
        minLength: minLength(3)
      },
      password: {
        required
      }
    }
  },
  computed: {
    loading () {
      return this.$store.state.loading
    }
  },
  methods: {
    loginErrors () {
      !this.$v.username.required && this.errors.username.push('Required')
      !this.$v.username.minLength && this.errors.username.push('Min three (3) characters')
      !this.$v.password.required && this.errors.password.push('Required')
    },
    login () {
      this.$v.$touch()
      this.loginErrors()

      if (!this.$v.$invalid) {
        this.$store.dispatch('auth/login', { username: this.username, password: this.password })
          .then((error) => {
            if (error === 'Invalid username') {
              this.errors.username.push(error)
            } else if (error === 'Invalid password') {
              this.errors.password.push(error)
            } else {
              if (Object.keys(this.$route.query).length > 0) {
                this.$router.replace({ 'query': null })
              }
            }
          })
      }
    }
  }
}
</script>
