<template>
  <v-progress-linear
    :buffer-value="progress"
    class="loader ma-0"
    height="4"
    color="white"
    fixed
    :active="loading"
  />
</template>
<script>
export default {
  name: 'ProgressBar',
  data: () => ({
    progress: 0,
    interval: 0
  }),
  computed: {
    loading () {
      return this.$store.state.loading
    }
  },
  methods: {
    buffer () {
      clearInterval(this.interval)

      this.interval = setInterval(() => {
        if (!this.loading) {
          this.progress = 100
        } else if (this.progress < 50) {
          this.progress += 10
        } else if (this.progress < 95) {
          this.progress += 2
        } else if (this.progress < 99) {
          this.progress += 0.05
        }
      }, 100)
    }
  },
  watch: {
    loading (val) {
      if (val) {
        this.progress = 0
        this.buffer()
      } else {
        clearInterval(this.interval)
        this.interval = 0
        this.progress = 100
      }
    }
  }
}
</script>
