<template>
  <v-layout justify-space-around wrap>
    <v-flex xs12>
      <div class="app-logo">
        <v-img
          :src="require('@/assets/logo.png')"
          contain
        />
      </div>
    </v-flex>
    <v-flex xs12 md4 v-show="success">
      <p class="subtitle-1 white--text mt-12">
        Change password successful.
      </p>
      <v-card class="pa-4">
        <v-card-text>
          <p class="font-weight-bold">
            Login Now
          </p>
          <login-form />
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 md4 v-show="!success">
      <p class="subtitle-1 white--text mt-12">
        Enter your password below.
      </p>
      <v-card class="pa-4">
        <v-card-text>
          <v-form
            id="reset-password"
            ref="form"
            @submit.prevent="submit()"
          >
            <p class="font-weight-bold">
              New password
            </p>
            <v-text-field
              v-model="credentials.password"
              label="Password"
              autofocus
              :error-messages="valid"
              :append-icon="show ? 'visibility' : 'visibility_off'"
              :rules="[rules.required, rules.min]"
              :type="show ? 'text' : 'password'"
              hint="At least 8 characters"
              counter
              @click:append="show = !show"
              filled
              full-width
              depressed
            />
            <p>Use upper and lower case characters, numbers and symbols.</p>
            <v-btn
              type="submit"
              block
              x-large
              rounded
              depressed
              color="primary"
              class="mt-6"
              form="reset-password"
            >
              Reset Password
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import LoginForm from './LoginForm.vue'

export default {
  components: { LoginForm },
  data () {
    return {
      success: false,
      show: true,
      credentials: {
        username: this.$route.query.login,
        password: '',
        key: this.$route.query.key
      },
      valid: '',
      rules: {
        required: value => !!value || 'Required',
        min: v => v.length >= 6 || 'Min 6 characters'
      }
    }
  },
  methods: {
    submit () {
      if (this.credentials.password.length >= 6) {
        this.$store.dispatch('auth/resetPassword', this.credentials)
          .then(data => {
            if (data.errors) {
              this.valid = data.errors
            } else {
              this.success = !this.success
            }
          })
      }
    }
  }
}
</script>
