@mixin breakpoint($breakpoint) {
  @if map-has-key($display-breakpoints, $breakpoint) {
    @media #{map-get($display-breakpoints, $breakpoint)} {
      @content;
    }
  }

  @else {
    @warn "Undefined breakpoint: `#{$breakpoint}`";
  }
}
