@import '~vuetify/src/styles/styles.sass';
@import './mixins';

$container-padding-x: 24px;

.loader {
  z-index: 9999;
}

.app-header.v-toolbar {
  .v-toolbar__content {
    display: block;
    padding: 0 24px;
    @include breakpoint('xl-only') {
      padding-left: 100px;
      padding-right: 100px;
    }

    .v-app-bar__nav-icon {
      position: absolute;
      left: 12px;
      @include breakpoint('md-and-up') {
        left: 24px;
        &:focus {
          &::before {
            opacity: 0;
          }
        }
      }
    }

    .v-toolbar__title {
    }
  }
}

main.v-content:not(.login-page) {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: 128px;
    background-color: #19aeac;
  }
  .v-content__wrap {
    & > .container {
      padding-top: 0;
      @include breakpoint('xl-only') {
        padding-left: 100px;
        padding-right: 100px;
      }
    }
  }
}
