<template>
  <v-fade-transition mode="out-in">
    <layout id="layout" :is="layout" />
  </v-fade-transition>
</template>
<script>
import Default from './layouts/Default.vue'
import Login from './layouts/Login.vue'

export default {
  name: 'App',
  components: { Default, Login },
  computed: {
    layout () {
      return this.$store.state.auth.loggedIn ? this.$route.meta.layout || 'default' : 'login'
    }
  }
}
</script>
