<template>
  <v-layout wrap>
    <v-flex>
      <v-card min-height="300">
        <v-card-text>
          <span class="subtitle-2">Copy referral link to clipboard.</span>
          <v-text-field
            filled
            full-width
            depressed
            ref="input"
            v-model="referralLink"
            hint="Copy to clipboard"
          >
            <v-tooltip slot="append" bottom>
              <template v-slot:activator="{ on }">
                <v-icon v-on="on" @click="copy()" color="primary">
                  content_copy
                </v-icon>
              </template>
              <span>Copy to clipboard</span>
            </v-tooltip>
          </v-text-field>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  name: 'Home',
  computed: {
    referralLink () {
      return process.env.VUE_APP_SITEURL + '/?referral_code=' + this.$store.state.auth.user.code
    }
  },
  methods: {
    copy () {
      const input = this.$refs.input

      input.focus()
      document.execCommand('selectAll')
      this.copied = document.execCommand('copy')
      input.blur()
    }
  }
}
</script>
