<template>
  <reset-password v-if="isResetPassword" />
  <login v-else />
</template>
<script>
import Login from '@/components/Login.vue'
import ResetPassword from '@/components/ResetPassword.vue'

export default {
  components: {
    Login,
    ResetPassword
  },
  computed: {
    isResetPassword () {
      return this.$route.query.key
    }
  }
}
</script>
