<template>
  <v-layout wrap>
    <v-flex>
      <v-card min-height="300">
        <v-card-title>
          <div class="flex-grow-1" />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          />
        </v-card-title>
        <v-card-text>
          <v-data-table
            v-model="selected"
            :headers="headers"
            :items="items"
            :search="search"
          >
            <template v-slot:item.action="{ item }">
              <v-dialog
                v-if="item.current_logged_in === 0"
                v-model="item.login"
                max-width="290"
              >
                <template v-slot:activator="{ on }">
                  <v-icon
                    class="mr-2"
                    color="primary"
                    v-on="on"
                  >
                    mdi-login-variant
                  </v-icon>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="title">Login As</span>
                  </v-card-title>
                  <v-card-text>
                    <span class="headline">{{ item.user_login }}</span>
                    <v-form
                      id="login-as"
                      ref="form"
                      @submit.prevent="loginAs(item)"
                    />
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                    <v-btn color="grey" text @click="item.login = false">
                      Cancel
                    </v-btn>
                    <v-btn
                      color="primary"
                      text
                      type="submit"
                      form="login-as"
                    >
                      Login
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-icon
                v-else
                class="mr-2"
              >
                mdi-login-variant
              </v-icon>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data: () => {
    return {
      selected: [],
      search: '',
      errors: {
        user_id: []
      }
    }
  },
  computed: {
    headers () {
      return [
        { text: 'Username', value: 'user_login' },
        { text: 'Name', value: 'user_name' },
        { text: 'Date Activated', value: 'user_activated' },
        { text: 'Date Registered', value: 'user_registered' },
        { text: 'Actions', value: 'action', sortable: false }
      ]
    },
    items () {
      return this.$store.state.accounts.users
    }
  },
  mounted () {
    this.$store.dispatch('accounts/getSubUsers')
  },
  methods: {
    loginAs (item) {
      alert('login As')
    }
  }
}
</script>
