<template>
  <v-app>
    <progress-bar />
    <drawer-toolbar />
    <v-content>
      <v-snackbar
        v-model="snackbar"
        color="warning"
        class="black--text"
        multi-line
        top
        :timeout="0"
      >
        {{ notification }}
        <v-btn
          color="white"
          text
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </v-snackbar>
      <v-container grid-list-xl>
        <v-slide-y-reverse-transition mode="out-in">
          <router-view />
        </v-slide-y-reverse-transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import ProgressBar from '@/components/ProgressBar.vue'
import DrawerToolbar from '@/components/DrawerToolbar.vue'

export default {
  name: 'Default',
  data: () => ({
    loading: false,
    snackbar: false,
    notification: 'We are still working on "Encashments" approval. We are sorry for the inconvenience.'
  }),
  components: {
    ProgressBar,
    DrawerToolbar
  },
  methods: {
    //
  },
  watch: {
    //
  }
}
</script>
<style lang="scss">
.app-logo {
  max-width: 180px;
  width: 100%;
  margin: 0 auto;
}
</style>
