<template>
  <v-app id="inspire">
    <v-card style="border-radius: 0;">
      <v-navigation-drawer
        v-model="drawer"
        :mini-variant.sync="mini"
        :permanent="$vuetify.breakpoint.mdOnly"
        :temporary="$vuetify.breakpoint.smAndDown"
        app
        dark
        full-height
        color="primary darken-2"
        class="py-4"
      >
        <v-list
          dense
          nav
          class="py-0"
        >
          <v-list-item>
            <div class="app-logo">
              <v-img
                :src="require('../assets/logo.png')"
                contain
              />
            </div>
          </v-list-item>
          <v-list-item
            two-line
            link
          >
            <v-list-item-content>
              <v-list-item-title>Juan Pesos</v-list-item-title>
              <v-list-item-subtitle>Elite</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-icon>mdi-menu-down</v-icon>
            </v-list-item-action>
          </v-list-item>
          <v-divider />
          <v-list-item
            v-for="item in items"
            :key="item.text"
            @click="doNothing()"
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </v-card>

    <v-app-bar
      app
      clipped-right
      dark
      color="primary"
      prominent
      flat
    >
      <v-app-bar-nav-icon
        class="hidden-sm-and-down"
        @click.stop="mini = !mini"
      />
      <v-app-bar-nav-icon
        class="hidden-md-and-up"
        @click.stop="drawer = !drawer"
      />
      <div class="membership-status text-right">
        <v-chip
          class="mt-5"
          color="blue darken-3"
          text-color="white"
          small
        >
          Verified
          <v-icon right>
            check
          </v-icon>
        </v-chip>
        <v-chip
          class="mt-5 ml-2"
          color=""
          text-color="white"
          small
        >
          Inactive
          <v-icon right>
            close
          </v-icon>
        </v-chip>
      </div>
      <v-toolbar-title class="pa-0">
        <h1>Welcome Juan</h1>
      </v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container grid-list-xl>
        <router-view />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'Default',
  props: {
    source: String
  },
  data: () => ({
    publicPath: process.env.BASE_URL,
    drawer: null,
    mini: false
  }),
  computed: {
    items () {
      return [
        { icon: 'dashboard', text: 'Dashboard' },
        { icon: 'ondemand_video', text: 'Watch' },
        { icon: this.$vuetify.icons.values.seal, text: 'Rewards' },
        { icon: this.$vuetify.icons.values.graph, text: 'Trees' },
        { icon: 'transform', text: 'Transactions' }
      ]
    }
  },
  methods: {
    doNothing () {
      return false
    }
  },
  mounted () {
    //
  }
}
</script>
<style lang="scss">
.app-logo {
  max-width: 180px;
  width: 100%;
  margin: 0 auto;
}
</style>
