<template>
  <v-app dark style="background-color: #19aeac;">
    <progress-bar />
    <v-content class="login-page">
      <v-container
        v-if="isResetPassword"
        fluid
        grid-list-xl
      >
        <v-slide-y-reverse-transition mode="out-in">
          <router-view name="login" />
        </v-slide-y-reverse-transition>
      </v-container>
      <v-container
        v-else
        fluid
        grid-list-xl
        pt-0
        px-2
        pb-0
      >
        <v-slide-y-reverse-transition mode="out-in">
          <router-view name="login" />
        </v-slide-y-reverse-transition>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import ProgressBar from '@/components/ProgressBar.vue'

export default {
  name: 'Login',
  components: { ProgressBar },
  computed: {
    isResetPassword () {
      return this.$route.query.key
    }
  }
}
</script>
<style lang="scss">
.login-form {
  .v-card {
    border-radius: 0;
  }
}
</style>
