<template>
  <v-layout wrap>
    <v-flex>
      <v-card min-height="300">
        <v-card-text>
          this is the dashboards
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
