<template>
  <v-layout wrap class="encashments">
    <v-flex md4>
      <v-card>
        <v-img
          height="230"
          class="white--text align-end"
          :src="require('@/assets/encashments.jpg')"
          gradient="to top left, rgba(255,255,255, 1), rgba(255,255,255, 0.75)"
        >
          <v-card-text class="display-3">
            <h2 class="headline black--text">
              Encashments
            </h2>
            <span class="blue--text mt-2 font-weight-bold">
              {{ pesos(encashment) }}
            </span>
            <h2 class="headline black--text mt-2">
              Unpaid
            </h2>
            <span class="display-1 green--text font-weight-bold">
              {{ pesos(unpaid) }}
            </span>
          </v-card-text>
        </v-img>
      </v-card>
    </v-flex>
    <v-flex md4 class="available">
      <v-card color="primary darken-1">
        <v-card-title class="white--text">
          <v-layout>
            <v-flex class="text-right">
              <v-avatar tile>
                <img
                  :src="require('@/assets/logo.png')"
                  alt="Technovanti"
                >
              </v-avatar>
              Technovanti
            </v-flex>
          </v-layout>
        </v-card-title>
        <v-card-text>
          <span class="code headline white--text">{{ user.code }}</span>
          <v-layout class="white--text">
            <v-flex>
              {{ user.id }}
            </v-flex>
            <v-flex class="text-right">
              Member since {{ dateOnly(user.activated_at) }}
            </v-flex>
          </v-layout>
          <span class="headline white--text">Balance: <span class="available-rewards font-weight-black white--text">{{ pesos(available) }}</span></span>
          <div class="title white--text">
            {{ user.firstname }} {{ user.lastname }}
          </div>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12>
      <v-card>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="encashments"
            :search="search"
          >
            <template v-slot:top>
              <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="primary"
                    dark
                    depressed
                    rounded
                    class="mb-2"
                    v-on="on"
                  >
                    <v-icon left dark>
                      mdi-plus
                    </v-icon>
                    Add encashment
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="title">Add encashment</span>
                  </v-card-title>
                  <v-card-text>
                    <v-form
                      id="add-encashment"
                      ref="form"
                      @submit.prevent="add()"
                    >
                      <v-container pb-0>
                        <v-row>
                          <v-col>
                            <v-select
                              v-model="type"
                              :items="types"
                              filled
                              label="Encashment type"
                              dense
                            />
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <v-text-field
                              v-model="name"
                              :label="type == 'Banco De Oro' ? 'Account name' : 'Fullname'"
                              filled
                              flat
                            />
                          </v-col>
                          <v-col>
                            <v-text-field
                              v-model="account"
                              v-mask="mask"
                              prepend-inner-icon="#"
                              :label="type == 'Banco De Oro' ? 'Account number' : 'Contact number'"
                              filled
                              flat
                            />
                          </v-col>
                        </v-row>
                        <v-row v-if="type === 'Palawan Express Pera'">
                          <v-col md6>
                            <v-text-field
                              v-model="branch"
                              label="Branch"
                              :disabled="type === 'Banco De Oro' || type === 'Iloilo Main Office' || type === 'Bacolod City Satellite' || type === 'Cebu City Satellite' || type === 'General Santos City Satellite'"
                              filled
                              flat
                            />
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <v-text-field
                              v-model="amount"
                              v-mask="amountMask"
                              prepend-inner-icon="#"
                              label="Amount"
                              filled
                              flat
                            />
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                    <v-btn
                      color="grey"
                      text
                      @click="dialog = false"
                    >
                      Cancel
                    </v-btn>
                    <v-btn
                      color="primary"
                      text
                      type="submit"
                      form="add-encashment"
                      :disabled="disabled()"
                    >
                      Add
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            <template v-slot:item.amount="{ item }">
              {{ pesos(item.amount) }}
            </template>
            <template v-slot:item.status="{ item }">
              <v-chip
                v-if="item.status > 2 || item.deleted_at != '0000-00-00 00:00:00'"
                color="red"
                dark
              >
                Rejected
              </v-chip>
              <v-chip
                v-else-if="item.status > 1 && item.status < 3"
                color="blue"
                dark
              >
                Paid
              </v-chip>
              <v-chip
                v-else-if="item.status > 0"
                color="success"
                dark
              >
                Approved
              </v-chip>
              <v-chip
                v-else
                color="warning"
                dark
              >
                Pending
              </v-chip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import pesos from '@/lib/helpers'

export default {
  data: () => ({
    search: '',
    dialog: false,
    types: [
      'Banco De Oro',
      'Palawan Express Pera',
      'Iloilo Main Office',
      'Bacolod City Satellite',
      'Cebu City Satellite',
      'General Santos City Satellite'
    ],
    amount: '',
    type: 'Banco De Oro',
    amountMask: '#####################',
    mask: '############',
    account: '',
    name: '',
    branch: ''
  }),
  computed: {
    headers () {
      return [
        { text: 'Amount', value: 'amount' },
        { text: 'Type', value: 'type' },
        { text: 'Status', value: 'status', align: 'center' },
        { text: 'Date', value: 'created_at' },
        { text: 'Last activity', value: 'updated_at' }
      ]
    },
    user () {
      return this.$store.state.auth.user
    },
    encashments () {
      return this.$store.state.encashments.encashments
    },
    encashment () {
      return this.$store.state.encashments.total
    },
    unpaid () {
      return this.$store.state.encashments.unpaid
    },
    rewards () {
      return this.$store.state.rewards.rewards.total
    },
    available () {
      return this.$store.state.rewards.available.total
    }
  },
  methods: {
    add () {
      this.$store.dispatch('encashments/addEncashment', {
        amount: this.amount,
        type: this.type,
        name: this.name,
        account: this.account,
        branch: this.branch
      })
        .then(() => {
          this.amount = ''
          this.type = 'Banco De Oro'
          this.account = ''
          this.name = ''
          this.branch = ''

          this.$store.dispatch('encashments/getEncashments')
            .then(() => this.$store.dispatch('rewards/getRewards'))

          this.dialog = false
        })
    },
    pesos (amount) {
      return pesos(amount)
    },
    dateOnly (date) {
      if (date) return date.split(' ')[0]
    },
    disabled () {
      if (this.$store.state.loading) return true
      if (!this.account || !this.name) return true
      if (this.type !== 'Banco De Oro' && this.account.length < 11) return true
      if (this.type !== 'Banco De Oro' && this.account.length > 11) return true
      if (this.type === 'Banco De Oro' && this.account.length < 12) return true
      if (this.type === 'Palawan Express Pera' && !this.branch) return true
      if (!this.amount) return true
      if (this.amount > this.available) return true
      if (this.amount < 3000) return true
    }
  },
  mounted () {
    this.$store.dispatch('encashments/getEncashments')
      .then(() => this.$store.dispatch('rewards/getRewards'))
  },
  watch: {
    type (from, to) {
      if (to === 'Palawan Express Pera') this.branch = ''
      this.account = ''
    }
  }
}
</script>
<style lang="scss">
.available {
  .code {
    letter-spacing: 4px !important;
  }
}
</style>
