<template>
  <v-layout wrap>
    <v-flex>
      <v-card min-height="300">
        <v-card-title>
          <div class="flex-grow-1" />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          />
        </v-card-title>
        <v-card-text>
          <v-data-table
            v-model="selected"
            :headers="headers"
            :items="items"
            :search="search"
          >
            <template v-slot:item.action="{ item }">
              <v-dialog
                v-if="!item.used"
                v-model="item.transfer"
                max-width="290"
              >
                <template v-slot:activator="{ on }">
                  <v-icon
                    class="mr-2"
                    color="primary"
                    v-on="on"
                  >
                    mdi-transit-transfer
                  </v-icon>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="title">Transfer Code</span>
                  </v-card-title>
                  <v-card-text>
                    <span class="headline">{{ item.code }}</span>
                    <v-form
                      id="transfer-code"
                      ref="form"
                      @submit.prevent="transfer(item)"
                    >
                      <v-container pb-0>
                        <v-row>
                          <v-autocomplete
                            v-model="item.owner_user_id"
                            autocomplete="off"
                            label="Search User"
                            :items="activeUsers"
                            filled
                            item-text="user_login"
                            item-value="ID"
                            prepend-inner-icon="$vuetify.icons.values.accounts_search"
                            :error-messages="errors.user_id"
                            @input="errors.user_id = []"
                          />
                        </v-row>
                      </v-container>
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                    <v-btn
                      color="grey"
                      text
                      @click="item.transfer = false"
                    >
                      Cancel
                    </v-btn>
                    <v-btn
                      color="primary"
                      text
                      type="submit"
                      form="transfer-code"
                      :disabled="!item.owner_user_id || item.used"
                    >
                      Transfer
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-icon
                v-else
                class="mr-2"
              >
                mdi-transit-transfer
              </v-icon>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data: () => {
    return {
      selected: [],
      search: '',
      errors: {
        user_id: []
      }
    }
  },
  computed: {
    headers () {
      return [
        { text: 'Code', value: 'code' },
        { text: 'Used', value: 'used' },
        { text: 'Date Created', value: 'created_at' },
        { text: 'Actions', value: 'action', sortable: false }
      ]
    },
    items () {
      return this.$store.state.activationcodes.codes
    },
    activeUsers () {
      return this.$store.state.accounts.activeUsers
    }
  },
  mounted () {
    this.$store.dispatch('activationcodes/getCodes')
    this.$store.dispatch('accounts/getActiveUsers')
  },
  methods: {
    transfer (item) {
      this.$store.dispatch('activationcodes/transferCode', item)
    }
  }
}
</script>
