<template>
  <v-layout wrap>
    <v-flex>
      <v-card min-height="300">
        <v-card-title>
          <div class="flex-grow-1" />
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          />
        </v-card-title>
        <v-card-text>
          <v-data-table
            v-model="selected"
            :headers="headers"
            :items="items"
            :search="search"
            group-by="code"
            class="elevation-1"
            show-group-by
          />
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data: () => {
    return {
      selected: [],
      search: '',
      errors: {
        user_id: []
      }
    }
  },
  computed: {
    headers () {
      return [
        { text: 'Code', value: 'code' },
        { text: 'Source', value: 'source_owner' },
        { text: 'Action', value: 'action' },
        { text: 'Used', value: 'used' },
        { text: 'Date History', value: 'history_date' }
      ]
    },
    items () {
      return this.$store.state.activationcodes.codesHistory
    },
    activeUsers () {
      return this.$store.state.accounts.activeUsers
    }
  },
  mounted () {
    this.$store.dispatch('activationcodes/getCodesHistory')
    this.$store.dispatch('accounts/getActiveUsers')
  }
}
</script>
