<template>
  <v-card>
    <v-tabs
      vertical
      color="primary darken-1"
    >
      <v-tab>
        Activation Codes
      </v-tab>
      <v-tab>
        Code History
      </v-tab>
      <v-tab-item>
        <activation-codes />
      </v-tab-item>
      <v-tab-item>
        <code-history />
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>
<script>
import CodeHistory from './CodeHistory.vue'
import ActivationCodes from './ActivationCodes.vue'
export default {
  components: {
    ActivationCodes,
    CodeHistory
  }
}
</script>
