<template>
  <binary-tree />
</template>
<script>
import BinaryTree from '@/components/BinaryTree.vue'

export default {
  components: {
    BinaryTree
  }
}
</script>
<style lang="scss">
#emelem-tree-card {
  overflow: auto;
  max-height: calc(100vh - 100px);
}
</style>
